{% extends 'base.html' %}
{% block content %}

        <div class="container">
             <div class="card">
                  <div class="card-header">
                    About
                  </div>
                  <div class="card-body">
                    <p>
                            ShowBiz is an Indian online ticketing service for cinemas, theaters, and sports. Within a decade of its inception, ShowBiz poses a 40% CAGR in revenues and over 90% market share in the online entertainment ticketing space.

                            With offices in India, New Zealand, and Malaysia, ShowBiz aims to present their clients with endless options to purchase tickets for the latest movies, music concerts, plays, stand up comic acts, and major sporting events to name a few. Tickets can be booked through various platforms like internet, mobile application, WAP and the in - house call center.
                            
                            With ticketing for over 3000 screens across 250 cities, ShowBiz has partnerships with all major Indian production houses and studios with real time ticketing for major cinema chains like Inox, Big Cinemas, Cinemax, Fun Cinemas etc. 85% of all cinema tickets sold online are booked on bookyshow, resulting in sales peaking up to 7 million tickets per month.
                            
                            ShowBiz has ticketed for over 1,500 plays online and is the exclusive and permanent ticketing partners for theatre venues like Prithvi Theater, Mumbai, NCPA Mumbai, Indian Habitat Centre Delhi and Rangshankara Bangalore. With more than 20 million page views per month, ShowBiz has ticketed for more than 300 live large format events and sport events such as ICL, city Marathons, etc.
                            
                            ShowBiz.com was the official ticketing partner for Mumbai Indians, Kings XI Punjab, and official online ticketing partner for Delhi Daredevils in season 2010. ShowBiz introduced a number of innovative features to make cricket viewing a pleasurable and more comfortable experience for their customers this season with on ground tie ups with various retail chains like Reliance Fresh, Reebok and Café Coffee Day for sale of tickets.
                            
                            ShowBiz was also the official ticketing agency for the prestigious Yonex - Sunrise Badminton Asia Tournament, hosted in the capital for the first time in April 2010 and ticketing partner for the India v/s Australia 2nd test match in Bangalore.

                            ShowBiz becomes the official ticketing partner for Mumbai Indians, Kings XI Punjab and Delhi Daredevils. Today we have Pune Warriors and Rajasthan Royals too on board this high drama entertainment circus called the IPL.

                            With offices in India, New Zealand, and Malaysia, ShowBiz aims to present their clients with endless options to purchase tickets for the latest movies, music concerts, plays, stand up comic acts, and major sporting events to name a few. Tickets can be booked through various platforms like internet, mobile application, WAP and the in - house call center.

                            With ticketing for over 3000 screens across 250 cities, ShowBiz has partnerships with all major Indian production houses and studios with real time ticketing for major cinema chains like Inox, Big Cinemas, Cinemax, Fun Cinemas etc. 85% of all cinema tickets sold online are booked on bookyshow, resulting in sales peaking up to 7 million tickets per month.


                    </p>
                  </div>
                    </div>
                    </div>
             </div>



{% endblock %}
